[user]
	name = tom_brandi
	email = brandner.thomas@me.com

[status]
	branch = true
	showStash = true
	showUntrackedFiles = all

[diff]
	context =  3
	renames = copies
	interHunkContext = 10

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[push]
	default = current
	autoSetupRemote = true
[pull]
	default = current
	rebase = true

[rebase]
	autoStash = true

[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
