/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #121212;
    --color01: #fc3023;
    --color02: #b96564;
    --color03: #fc3023;
    --color04: #6479d2;
    --color05: #af5ed8;
    --color06: #6a76cc;
    --color07: #ffffff;
    --color08: #9e9e9e;
    --color09: #ff523d;
    --color10: #e78684;
    --color11: #ff523d;
    --color12: #879aff;
    --color13: #dc79ff;
    --color14: #8d96ff;
    --color15: #ffffff;
}
