/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #121212;
    --color01: #c26252;
    --color02: #d0642b;
    --color03: #cd5d34;
    --color04: #7675d2;
    --color05: #c25bc3;
    --color06: #7775d2;
    --color07: #ffffff;
    --color08: #9e9e9e;
    --color09: #f1836e;
    --color10: #e27941;
    --color11: #fd7e48;
    --color12: #9b95ff;
    --color13: #f176f9;
    --color14: #9c95ff;
    --color15: #ffffff;
}
