themes {
    current {
        text_unselected {
            base 186 194 222
            background 88 91 112
            emphasis_0 245 156 181
            emphasis_1 148 226 213
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        text_selected {
            base 186 194 222
            background 88 91 112
            emphasis_0 245 156 181
            emphasis_1 148 226 213
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        ribbon_selected {
            base 88 91 112
            background 166 227 161
            emphasis_0 243 139 168
            emphasis_1 245 156 181
            emphasis_2 245 194 231
            emphasis_3 137 180 250
        }
        ribbon_unselected {
            base 88 91 112
            background 186 194 222
            emphasis_0 243 139 168
            emphasis_1 186 194 222
            emphasis_2 137 180 250
            emphasis_3 245 194 231
        }
        table_title {
            base 166 227 161
            background 0
            emphasis_0 245 156 181
            emphasis_1 148 226 213
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        table_cell_selected {
            base 186 194 222
            background 88 91 112
            emphasis_0 245 156 181
            emphasis_1 148 226 213
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        table_cell_unselected {
            base 186 194 222
            background 88 91 112
            emphasis_0 245 156 181
            emphasis_1 148 226 213
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        list_selected {
            base 186 194 222
            background 88 91 112
            emphasis_0 245 156 181
            emphasis_1 148 226 213
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        list_unselected {
            base 186 194 222
            background 88 91 112
            emphasis_0 245 156 181
            emphasis_1 148 226 213
            emphasis_2 166 227 161
            emphasis_3 245 194 231
        }
        frame_selected {
            base 166 227 161
            background 0
            emphasis_0 245 156 181
            emphasis_1 148 226 213
            emphasis_2 245 194 231
            emphasis_3 0
        }
        frame_highlight {
            base 245 156 181
            background 0
            emphasis_0 245 194 231
            emphasis_1 245 156 181
            emphasis_2 245 156 181
            emphasis_3 245 156 181
        }
        exit_code_success {
            base 166 227 161
            background 0
            emphasis_0 148 226 213
            emphasis_1 88 91 112
            emphasis_2 245 194 231
            emphasis_3 137 180 250
        }
        exit_code_error {
            base 243 139 168
            background 0
            emphasis_0 249 226 175
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 245 194 231
            player_2 137 180 250
            player_3 0
            player_4 249 226 175
            player_5 148 226 213
            player_6 0
            player_7 243 139 168
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
