let mapleader = " "

Plug 'tpope/vim-commentary'
set surround
set highlightedyank
set ideajoin
set notimeout
set matchpairs+=<:>
set ideajoin
set hlsearch
set smartcase
set clipboard=unnamed,unnamedplus
set ignorecase
set incsearch
set multicursor
set dial

nnoremap <Esc> :nohlsearch<CR>

xnoremap p "_dP
map / <Action>(Find)
noremap u uzz
noremap J mzJ`z
nnoremap K mzK`z
nnoremap u uzz
noremap <C-d> <C-d>zz
noremap <C-u> <C-u>zz
vmap J :m '>+1<CR>gv=gv
vmap K :m '<-2<CR>gv=gv
let mapleader=" "
nmap <leader>ca :action ShowIntentionActions<cr>
nmap <leader>cr :action RenameElement<cr>
nmap <leader>cn :action PhpNewClass<cr>
map W [w
map B [b
nmap <leader>/ :action FindInPath<cr>
nmap <leader>e :action ActivateProjectToolWindow<cr>
nmap <leader>a ggVG
nnoremap <leader>cqp :w<CR><Action>(Tool_External Tools_PHPStan-Current-File)
nmap <leader><leader> :action Switcher<cr>
nnoremap <C-/> :action ActivateTerminalToolWindow<CR>
